<p>all retailers</p>

<a href="/">home</a>
<a href="merchants/new">add a retailer</a><br>
<br>
<% @merchants.each do |merchant| %>

<b>Name:</b>
<p><%= merchant.name %></p>

<a href="/merchants/<%= merchant.id %>">edit retailer</a>

<form action="/merchants/<%= merchant.id %>/delete" method="post"> 
<input type="submit" value="delete">
</form>
<br>

<hr>
<% end %>

