<!-- <h3>DASHBOARD</h3>

<a href="/tags">View Categories</a>
<a href="/merchants">View Retailers</a>
<a href="/transactions">View Transactions</a>
<a href="/accounts">View account summary</a> -->
<div class="intro">
  <section class="ad ">
  <h1>Helping you take<br>control of your money</h1>
  <br>
  <h4>CashGro - your essential personal finances friendly app</h4>
  <ul>
    <li>Focus on the spending you can control</li>
    <li>Quickly see where your money goes</li>
    <li>Make better spending decisions</li>
    <li>Enjoy greater savings for the things you really want</li>
  </ul>  
</section>
<section class="pic">
  <img src="images/bckg2.jpg">
</section>

</div>