<!DOCTYPE html>
<html>
<head>
  <title>CashGro</title>
  <link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

 <header>
   <section class="row-header">
     <div class="grid">
       <a href ="/">
        <h1 class="logo logo-alt"><img src="images/leaf.png">CashGro</h1>
        
      </a>
    </div>
    <nav class="primary-nav">
     <ul>
      <!-- <li><a href="/">Home</a></li>
      <li><a href="/tags">Categories</a></li>
      <li><a href="/merchants"> Retailers</a><li>
        <li><a href="/transactions">Transactions</a></li>
        <li><a href="/accounts">Account Summary</a></li> -->
        <li><a  href="/">home</a></li><li class="dropdown">
            <a href="/" class="dropbtn">Set Account</a>
            <div class="dropdown-content">
              <a href="/tags">categories</a>
              <a href="/merchants">retailers</a>
              <a href="/tags">transactions</a>
            </div>
          </li>
          <li><a href="/accounts">View Account</li><li><a href="/savings">Track Savings</li>
      </ul>
    </nav>
  </header>
  

      <%=yield%>

  <footer><small>&copy AB/ CashGro 2016
  <nav class="secondary-nav">
   <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/tags">Categories</a></li>
    <li><a href="/merchants"> Retailers</a><li>
      <li><a href="/transactions">Transactions</a></li>
      <li><a href="/accounts">Account Summary</a></li>
      <li><a href="/savings"</li>
    </ul>
  </nav>
  </footer>
</body>

</html>