<!DOCTYPE html>
<html>
<head>
  <title>CashGro</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

<header>CashGro</header>

  <%=yield%>

  <footer>tps</footer>
</body>

</html>